html {
    font-size: 62.5% ;
}
body {
    font-size: 1.6rem ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.center {
    text-align: center ;
}
#top-title {
    font-size: 50pt ;
}
#description {
    font-size: 25pt ;
}
.mobile {
    display: none ;
}

.side_wrapper {
    display: flex ;
    max-width: 90% ;
    margin: 10px auto ;
    width: 90% ;
    position: relative ;
}
#sidebar {
    width: 20% ;
    margin-right: 1em ;
    display: none ;
    position: relative ;
}
@media (max-width: 768px) {
    .mobile {
        display: block ;
    }
}
@media (min-width: 768px) {
    #sidebar {
        display: block ;
    }
    .mobile {
        display: none ;
    }
}
.sidebar-item {
    font-size: 20px ;
    margin: 10px ;
}
.main {
    width: 80% ;
    position: relative ;
}
.sect1 {
    font-size: 30px ;
    font-weight: 600 ;
}
.sect2 {
    font-size: 25px ;
    font-weight: 450 ;
}
.sect3 {
    font-size: 22px ;
    font-weight: 400 ;
}
b {
    font-weight: 500 ;
}

.yes {
    color: #00c070 ;
    text-align: center ;
}
.no {
    color: red ;
    text-align: center ;
}

table {
    width: 40% ;
    border: 1px solid #333 ;
    border-collapse: collapse ;
    margin: 10px ;

}
th {
    border: 1px solid #333 ;
    background-color: #f6f6f6 ;
    font-weight: 500 ;
}
th, td {
    border: 1px solid #333 ;
    padding: 10px ;
}
li {
    padding: 5px ;
}
.important {
    color: red ;
}
.key {
    color: #3366ff ;
    background-color: #f7f7f7 ;
    font-weight: 300px ;
    padding: 6px ;
}

